<!DOCTYPE html>
<!--
* CoreUI Pro - Bootstrap Admin Template
* @version v2.1.5
* @link https://coreui.io/pro/
* Copyright (c) 2018 creativeLabs Łukasz Holeczek
* License (https://coreui.io/pro/license)
-->
<html lang="en">

<head>
  {% load staticfiles %}
  <!-- 
    <base href="{% static '/' %}"> -->
  <base href="./">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
  <meta name="description" content="CoreUI - Open Source Bootstrap Admin Template">
  <meta name="author" content="Łukasz Holeczek">
  <meta name="keyword" content="Bootstrap,Admin,Template,Open,Source,jQuery,CSS,HTML,RWD,Dashboard">
  <meta name="keyword" content="Bootstrap,Admin,Template,Open,Source,jQuery,CSS,HTML,RWD,Dashboard">
  <title>Singer Login</title>
  <link href="{% static '@coreui/icons/css/coreui-icons.min.css' %}" rel="stylesheet">
  <link href="{% static 'flag-icon-css/css/flag-icon.min.css' %}" rel="stylesheet">
  <link href="{% static 'font-awesome/css/font-awesome.min.css' %}" rel="stylesheet">
  <link href="{% static 'simple-line-icons/css/simple-line-icons.css' %}" rel="stylesheet">
  <link rel="shortcut icon" type="image/png" href="{% static 'img/favicon.png' %}">
  <!-- Main styles for this application-->
  <link href="{% static 'css/style.css' %}" rel="stylesheet">
  <link href="{% static 'vendors/pace-progress/css/pace.min.css' %}" rel="stylesheet">
  <link href="{% static 'datatables.net-bs4/css/dataTables.bootstrap4.css' %}" rel="stylesheet">
  <!--  <link href="//maxcdn.datatables.net/1.10.19/js/jquery.dataTables.min.js" rel="stylesheet">
    <link href="//maxcdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" rel="stylesheet">
 -->
</head>

<body class="app flex-row align-items-center" style="background-image: url('/static/img/login_bg.jpeg');
  background-repeat: no-repeat;
  background-size: 100%;">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-5">
        <div class="card-group">
          <div class="card p-4">
            <div class="card-body">
              <form role="form" action="{% url 'login' %}" method="POST">
                {% csrf_token %}
                <img src="{% static 'img/singerlogo.png' %}" class="img"/>
                <!-- <h1>Login</h1>
<p class="text-muted">Sign In to your account</p>
 -->
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text">
                      <i class="icon-user"></i>
                    </span>
                  </div>
                  <input class="form-control" type="text" name="username" placeholder="Username" required="true">
                </div>
                <div class="input-group mb-4">
                  <div class="input-group-prepend">
                    <span class="input-group-text">
                      <i class="icon-lock"></i>
                    </span>
                  </div>
                  <input class="form-control" type="password" name="password" placeholder="Password" required="true">
                </div>
                <div class="input-group mb-3">
                  <div class="g-recaptcha" name="g-recaptcha-response" data-sitekey="6LeQWpAUAAAAAPj9dyfwADkoTIPTw25hJkdVobFf" style="width:100%;transform:scale(0.77);-webkit-transform:scale(0.77);transform-origin:0 0;-webkit-transform-origin:0 0;"></div>
                </div>
                <div class="row">
                  <div class="col-12">
                    <button class="btn btn-primary px-4" style="width:100%;margin-top:-12px;" type="submit">Login</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
          <!--  <div class="card text-white bg-primary py-5 d-md-down-none" style="width:44%">
            <div class="card-body text-center">
              <div>
                <img class="navbar-brand-full" src="{% static 'img/brand/logo.jpg' %}" width="89" height="25" alt="Singer Logo">
                
              </div>
            </div>
          </div> -->
        </div>
      </div>
    </div>
  </div>
  <script src='https://www.google.com/recaptcha/api.js'></script>
</body>

</html>
