<!DOCTYPE html>
<html lang="en">
<head>
    <title>Singer</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
     <link href="https://fonts.googleapis.com/css?family=Lato:400,700,900" rel="stylesheet">
     <link href="login-style.css" rel="stylesheet" type="text/css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
     {% load staticfiles %}
      <link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css">
</head>
 {% include 'snippets/css.html' %}

<body class="main-bg-img-area">
	{% load staticfiles %}

 <div class="center-div pading-lo"><!-- 
  
    <img src="{% static 'images/our-logo.png' %}"/> -->
    <div class="panel-heading">
                <h4> LOGIN</h4>
              </div>
              <div class="panel-body">
                <form role="form" action="{% url 'login' %}" method="POST">
                {% csrf_token %}
                  <div class="form-group">
                    <input class="form-control" placeholder="username" name="username" required="true">
                  </div>
                  <div  class="form-group">
                    <input type="password" class="form-control" placeholder="password" name="password" required="true">
                  </div>
                  <button type="submit" name="submit" class="btn btn-primary">Login</button><br/>
                </form><br/>
                
              </div><!-- 
      <h1>Login with <span><img src="{% static 'images/google.png'%}" class="img" alt="" /></span></h1> -->
    {% for message in messages %}
                    <div class="alert {{ message }} alert-dismissible" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                         {{ message }}
                    </div>
                  {% endfor %}
    </div>  

  
  </body>
</html>

 

