<!DOCTYPE html>
<!--
* CoreUI Pro - Bootstrap Admin Template
* @version v2.1.5
* @link https://coreui.io/pro/
* Copyright (c) 2018 creativeLabs Łukasz Holeczek
* License (https://coreui.io/pro/license)
-->
<html lang="en">

<head>
  {% load staticfiles %}

  <!-- 
    <base href="{% static '/' %}"> -->
  <base href="./">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
  <meta name="description" content="CoreUI - Open Source Bootstrap Admin Template">
  <meta name="author" content="Łukasz Holeczek">
  <meta name="keyword" content="Bootstrap,Admin,Template,Open,Source,jQuery,CSS,HTML,RWD,Dashboard">
  <meta name="keyword" content="Bootstrap,Admin,Template,Open,Source,jQuery,CSS,HTML,RWD,Dashboard">
  <title>Singer</title>
  <link href="{% static '@coreui/icons/css/coreui-icons.min.css' %}" rel="stylesheet">
  <link href="{% static 'flag-icon-css/css/flag-icon.min.css' %}" rel="stylesheet">
  <link href="{% static 'font-awesome/css/font-awesome.min.css' %}" rel="stylesheet">
  <link href="{% static 'simple-line-icons/css/simple-line-icons.css' %}" rel="stylesheet">
  <!-- Main styles for this application-->
  <link href="{% static 'css/style.css' %}" rel="stylesheet">
  <link href="{% static 'vendors/pace-progress/css/pace.min.css' %}" rel="stylesheet">
</head>

<body class="app flex-row align-items-center">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="clearfix">
          <h1 class="float-left display-3 mr-4">404</h1>
          <h4 class="pt-3">Oops! You're lost.</h4>
          <p class="text-muted">The page you are looking for was not found.</p>
        </div>
        <div class="input-prepend input-group">
          <div class="input-group-prepend">
            <span class="input-group-text">
                <i class="fa fa-search"></i>
              </span>
          </div>
          <input class="form-control" id="prependedInput" size="16" type="text" placeholder="What are you looking for?">
          <span class="input-group-append">
              <button class="btn btn-info" type="button">Search</button>
            </span>
        </div>
      </div>
    </div>
  </div>
  <!-- Bootstrap and necessary plugins-->
  <script src="{% static 'node_modules/jquery/dist/jquery.min.js' %}"></script>
  <script src="{% static 'node_modules/popper.js/dist/umd/popper.min.js' %}"></script>
  <script src="{% static 'node_modules/bootstrap/dist/js/bootstrap.min.js' %}"></script>
  <script src="{% static 'node_modules/pace-progress/pace.min.js' %}"></script>
  <script src="{% static 'node_modules/perfect-scrollbar/dist/perfect-scrollbar.min.js' %}"></script>
  <script src="{% static 'node_modules/@coreui/coreui-pro/dist/js/coreui.min.js' %}"></script>
</body>

</html>
