{% extends "src/navbar.html" %}
{% block contentt %}
{% load static %}
<div class="container-fluid">
  <div class="animated fadeIn">
    <div>
      <div>
        <div class="card text-center">
          <div class="card-header">
            <strong>Users</strong> Detail
          </div>
          <div class="card-body">
            <div>
              {% if messages %}
              {% for message in messages %} <div class="alert alert-success" role="alert"><button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                {{message}}</div>
              {% endfor %}
              {% endif %}
              <form class="form-horizontal" action="{% url 'saveNewUser' %}" method="POST" role="form">
                {% csrf_token %}
                <div class="form-group row">
                  <!-- /.row-->
                  <div class="col-md-4">
                    <div class="form-group row">
                      <label class="col-md-4 col-form-label" for="firstname">FirstName</label>
                      <div class="col-md-8">
                        <input class="form-control" id="firstname" type="text" name="firstname" value={{userobj.first_name}}>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="form-group row">
                      <label class="col-md-4 col-form-label" for="lastname">LastName</label>
                      <div class="col-md-8">
                        <input class="form-control" id="lastname" type="text" name="lastname" value={{userobj.last_name}}>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="form-group row">
                      <label class="col-md-4 col-form-label" for="emailaddress">EmailID</label>
                      <div class="col-md-8">
                        <input class="form-control" id="emailaddress" type="text" name="emailaddress" value={{userobj.email}}>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="form-group row">
                  <!-- /.row-->
                  <div class="col-md-4">
                    <div class="form-group row">
                      <label class="col-md-4 col-form-label" for="username">Username*</label>
                      <div class="col-md-8">
                        <input class="form-control" type="text" name="username" required="true" value={{userobj.username}}>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="form-group row">
                      <label class="col-md-4 col-form-label" for="password">Password*</label>
                      <div class="col-md-8">
                        <input class="form-control" id="password" type="password" name="password" required="true">
                      </div>
                    </div>
                  </div>
                </div>
                <div class="card-footer">
                  <button class="btn btn-sm btn-primary" type="submit" {% if not enableUserFun%}disabled{% endif %}>
                    <i class="fa fa-dot-circle-o"></i> Submit</button>
                  <button class="btn btn-sm btn-danger" type="reset">
                    <i class="fa fa-ban"></i> Reset</button>
                </div>
                <div class="card-body">
                  <table class="table table-striped table-bordered datatable">
                    <thead>
                      <tr>
                        <th>Edit</th>
                        <th>User Name</th>
                        <th>Email Address</th>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Delete</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for user in userlist %}
                      <tr>
                        <td>
                          <a class="btn btn-info" id="edit" {% if enableUserFun%} href="{% url 'edituser' user.username %}"{% endif %}>
                          <i class="fa fa-edit"></i>
                        </a>
                        </td>
                        <td>{{user.username}}</td>
                        <td>{{user.email}}</td>
                        <td>{{user.first_name}}</td>
                        <td>{{user.last_name}}</td>
                        <td>
                          <a class="btn btn-info"  id="delete" {% if enableUserFun%} href="{% url 'deleteuser' user.username %}"{% endif %}>
                          <i class="fa fa-trash"></i>
                        </a>
                        </td>
                      </tr>
                      {% endfor %}
                    </tbody>
                  </table>
                </div>
            </div>
          </div>
        </div>
      </div>
      <!-- /.col-->
      <!-- /.col-->
    </div>
    <!-- /.row-->
  </div>
</div>
<script type="text/javascript">
window.setTimeout(function() {
  $(".alert").fadeTo(500, 0).slideUp(500, function() {
    $(this).remove();
  });
}, 4000);

function CheckMedium(val) {
  var element = document.getElementById('othermediumdiv');
  if (val == 'Others')
    element.style.display = 'flex';
  else
    element.style.display = 'none';
}

</script>
</body>
{% endblock contentt %}
