{% extends "src/navbar.html" %}
{% block contentt %}
{% load static %}
{% include "src/tabs.html" %}
<div class="container-fluid">
  <div class="animated fadeIn">
    <div class="row">
      <div class="col-sm-6 col-lg-3">
        <div class="card text-white bg-primary">
          <div class="card-body pb-0">
            <h5>
                <center>
                  No. of Active Products
                </center>
              </h5>
            <span class="display-4"><center>{{active}}</center></span>
          </div>
          <div class="chart-wrapper mt-3 mx-3" style="height:25px;">
            <canvas class="chart" id="card-chart1" height="25"></canvas>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-lg-3">
        <div class="card text-white bg-info">
          <div class="card-body pb-0">
            <h5>
                <center>
                  No. of Inactive Products
                </center>
              </h5>
            <span class="display-4"><center>{{inactive}}</center></span>
          </div>
          <div class="chart-wrapper mt-3 mx-3" style="height:25px;">
            <canvas class="chart" id="card-chart2" height="25"></canvas>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-lg-3">
        <div class="card text-white bg-danger">
          <div class="card-body pb-0">
            <h5>
                <center>
                  End Of Life Products
                </center>
              </h5>
            <span class="display-4"><center>{{endoflife}}</center></span>
          </div>
          <div class="chart-wrapper mt-3 mx-3" style="height:25px;">
            <canvas class="chart" id="card-chart2" height="25"></canvas>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-lg-3">
        <div class="card text-white bg-warning">
          <div class="card-body pb-0">
            <h5>
                <center>
                  No Status Products
                </center>
              </h5>
            <span class="display-4"><center>{{nostatus}}</center></span>
          </div>
          <div class="chart-wrapper mt-3 mx-3" style="height:25px;">
            <canvas class="chart" id="card-chart2" height="25"></canvas>
          </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header">
        <div class="card-header-actions">
          <a class="card-header-action" target="_blank" href="{% url 'export_audio_productdetails_xls' %}">
                    <div class="btn btn-primary">Export</div>
                  </a>
        </div>
      </div>
      <div class="card-body">
        <table class="table table-striped table-bordered datatable" width="100%">
          <thead>
            <tr>
              <th>Edit</th>
              <th>Active</th>
              <th>EOL</th>
              <th>Product Code</th>
              <th>Description</th>
              <th>Brand</th>
              <th>Replacement</th>
              <th>Subcategory</th>
              <th>Tower</th>
              <th>Bluetooth</th>
              <th>USB</th>
              <th>CD/DVD</th>
              <th>Wattage</th>
            </tr>
          </thead>
          <tbody>
            {% for product in products %}
            <tr>
              <td>
                <a class="btn btn-info" href="{% url 'audioEditForm' product.PRODUCT_CODE 'AUDIOS' %}" id="edit" >
                          <i class="fa fa-edit"></i>
                        </a>
              </td>
              <td>
                {% if product.ACTIVE_FLAG in 'Yes,yes,YES,yES,YeS,yeS' %}
                <span class="badge badge-success">{{product.ACTIVE_FLAG}}</span>
                {% endif %}
                {% if product.ACTIVE_FLAG in 'No,no,NO,nO' %}
                <span class="badge badge-danger">{{product.ACTIVE_FLAG}}</span>
                {% endif %}
              </td>
              <td>
                {% if product.CUSTOM_CATEGORY11 in 'Yes,yes,YES,yES,YeS,yeS' %}
                <span class="badge badge-success">{{product.CUSTOM_CATEGORY11}}</span>
                {% endif %}
                {% if product.CUSTOM_CATEGORY11 in 'No,no,NO,nO' %}
                <span class="badge badge-danger">{{product.CUSTOM_CATEGORY11}}</span>
                {% endif %}
              </td>
              <td>{{product.PRODUCT_CODE}}</td>
              <td>{{product.PRODUCT_DESCRIPTION}}</td>
              <td>{{product.BRAND_LEVEL2_DESC}}</td>
              <td>{{product.CUSTOM_CATEGORY7}}</td>
              <td>{{product.CUSTOM_CATEGORY1}}</td>
              <td>{{product.CUSTOM_CATEGORY2}}</td>
              <td>
                {% if product.CUSTOM_CATEGORY3 in 'Yes,yes,YES,yES,YeS,yeS' %}
                <span class="badge badge-success">{{product.CUSTOM_CATEGORY3}}</span>
                {% endif %}
                {% if product.CUSTOM_CATEGORY3 in 'No,no,NO,nO' %}
                <span class="badge badge-danger">{{product.CUSTOM_CATEGORY3}}</span>
                {% endif %}
              </td>
              <td>
                {% if product.CUSTOM_CATEGORY4 in 'Yes,yes,YES,yES,YeS,yeS' %}
                <span class="badge badge-success">{{product.CUSTOM_CATEGORY4}}</span>
                {% endif %}
                {% if product.CUSTOM_CATEGORY4 in 'No,no,NO,nO' %}
                <span class="badge badge-danger">{{product.CUSTOM_CATEGORY4}}</span>
                {% endif %}
              </td>
              <td>
                {% if product.CUSTOM_CATEGORY5 in 'Yes,yes,YES,yES,YeS,yeS' %}
                <span class="badge badge-success">{{product.CUSTOM_CATEGORY5}}</span>
                {% endif %}
                {% if product.CUSTOM_CATEGORY5 in 'No,no,NO,nO' %}
                <span class="badge badge-danger">{{product.CUSTOM_CATEGORY5}}</span>
                {% endif %}
              </td>
              <td>{{product.CUSTOM_CATEGORY6}}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
{% endblock contentt %}
