{% extends "src/navbar.html" %}
{% block contentt %}
{% load static %}
{% include "src/tabs.html" %}
<div class="container-fluid">
  <div class="animated fadeIn">
    <div class="row">
      <div class="col-md-6">
        <div class="card">
          <div class="card-header">
            <strong>Edit Product Categories</strong> Details</div>
          <div class="card-body">
            <form class="form-horizontal" action="{% url 'updateaudioDetails' productDetail.PRODUCT_CODE %}" method="POST" role="form">
              {% csrf_token %}
              <div class="form-group row">
                <label class="col-md-3 col-form-label" for="customcategory1">Subcategory</label>
                <div class="col-md-9">
                  <select class="form-control" id="customcategory1" name="customcategory1">
                    <option style="display:none;">Choose Option</option>
                    <option value="Portable Radio" {% ifequal productDetail.CUSTOM_CATEGORY1 "Portable Radio" %} selected {% endifequal %}>Portable Radio</option>
                    <option value="Speakers" {% ifequal productDetail.CUSTOM_CATEGORY1 "Speakers" %} selected {% endifequal %}>Speakers</option>
                    <option value="Sound Bars" {% ifequal productDetail.CUSTOM_CATEGORY1 "Sound Bars" %} selected {% endifequal %}>Sound Bars</option>
                    <option value="Audio Hi-Fi" {% ifequal productDetail.CUSTOM_CATEGORY1 "Audio Hi-Fi" %} selected {% endifequal %}>Audio Hi-Fi</option>
                  </select>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-3 col-form-label" for="customcategory2">Tower</label>
                <div class="col-md-9">
                  <select class="form-control" id="customcategory2" name="customcategory2">
                    <option style="display:none;">Choose Option</option>
                    <option value="Single" {% ifequal productDetail.CUSTOM_CATEGORY2 "Single" %} selected {% endifequal %}>Single</option>
                    <option value="Double" {% ifequal productDetail.CUSTOM_CATEGORY2 "Double" %} selected {% endifequal %}>Double</option>
                    <option value="No" {% ifequal productDetail.CUSTOM_CATEGORY2 "No" %} selected {% endifequal %}>No</option>
                  </select>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-3 col-form-label" for="customcategory3">Bluetooth</label>
                <div class="col-md-9">
                  <select class="form-control" id="customcategory3" name="customcategory3">
                    <option style="display:none;">Choose Option</option>
                    <option value="Yes" {% ifequal productDetail.CUSTOM_CATEGORY3 "Yes" %} selected {% endifequal %}>Yes</option>
                    <option value="No" {% ifequal productDetail.CUSTOM_CATEGORY3 "No" %} selected {% endifequal %}>No</option>
                  </select>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-3 col-form-label" for="customcategory4">USB</label>
                <div class="col-md-9">
                  <select class="form-control" id="customcategory4" name="customcategory4">
                    <option style="display:none;">Choose Option</option>
                    <option value="Yes" {% ifequal productDetail.CUSTOM_CATEGORY4 "Yes" %} selected {% endifequal %}>Yes</option>
                    <option value="No" {% ifequal productDetail.CUSTOM_CATEGORY4 "No" %} selected {% endifequal %}>No</option>
                  </select>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-3 col-form-label" for="customcategory5">CD/DVD</label>
                <div class="col-md-9">
                  <select class="form-control" id="customcategory5" name="customcategory5">
                    <option style="display:none;">Choose Option</option>
                    <option value="Yes" {% ifequal productDetail.CUSTOM_CATEGORY5 "Yes" %} selected {% endifequal %}>Yes</option>
                    <option value="No" {% ifequal productDetail.CUSTOM_CATEGORY5 "No" %} selected {% endifequal %}>No</option>
                  </select>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-3 col-form-label" for="customcategory6">Wattage(Value)</label>
                <div class="col-md-9">
                  <select class="form-control" id="customcategory6" name="customcategory6">
                    <option style="display:none;">Choose Option</option>
                    <option value="<1000" {% ifequal productDetail.CUSTOM_CATEGORY6 "<1000" %} selected {% endifequal %}>less than 1000</option>
                    <option value="1000-2500" {% ifequal productDetail.CUSTOM_CATEGORY6 "1000-2500" %} selected {% endifequal %}>1000-2500</option>
                    <option value=">2500" {% ifequal productDetail.CUSTOM_CATEGORY6 ">2500" %} selected {% endifequal %}>more than 2500</option>
                  </select>
                </div>
              </div>

              <div class="form-group row">
                <label class="col-md-3 col-form-label" for="customcategory7">Replacement Code</label>
                 <div class="col-md-9">
                  <select class="form-control" id="customcategory7" name="customcategory7">
                    <option style="display:none;">Choose Option</option>
                    {% for replacement_code in replacement_code_list %}
                      <option value={{replacement_code}} {% ifequal productDetail.CUSTOM_CATEGORY7 replacement_code %} selected {% endifequal %}>{{replacement_code}}</option>
                    {% endfor %}
                  </select>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-3 col-form-label" for="customcategory11">End of Life</label>
                <div class="col-md-9">
                  <select class="form-control" id="customcategory11" name="customcategory11">
                    <option style="display:none;">Choose Option</option>
                    <option value="Yes" {% ifequal productDetail.CUSTOM_CATEGORY11 "Yes" %} selected {% endifequal %}>Yes</option>
                    <option value="No" {% ifequal productDetail.CUSTOM_CATEGORY11 "No" %} selected {% endifequal %}>No</option>
                  </select>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-3 col-form-label" for="active">Active</label>
                <div class="col-md-9">
                  <select class="form-control" id="active" name="active">
                    <option style="display:none;">Choose Option</option>
                    <option value="Yes" {% ifequal productDetail.ACTIVE_FLAG "Yes" %} selected {% endifequal %}>Yes</option>
                    <option value="No" {% ifequal productDetail.ACTIVE_FLAG "No" %} selected {% endifequal %}>No</option>
                  </select>
                </div>
              </div>
              <div class="card-footer">
                <button class="btn btn-sm btn-info" onclick="history.back();">
                  <i class="fa fa-dot-circle-o"></i> Back</button>
                <button class="btn btn-sm btn-primary" type="submit">
                  <i class="fa fa-dot-circle-o"></i> Submit</button>
                <button class="btn btn-sm btn-danger" type="reset">
                  <i class="fa fa-ban"></i> Reset</button>
              </div>
            </form>
          </div>
        </div>
      </div>
      <!-- /.col-->
      <div class="col-sm-6">
        <div class="card">
          <div class="card-header">
            <strong>Product Basic</strong>
            <small>Details</small>
          </div>
          <div class="card-body">
            <div class="form-group">
              <label for="productcode">Product Code</label>
              <input class="form-control" id="productcode" type="text" value={{productDetail.PRODUCT_CODE}} disabled="">
            </div>
            <div class="form-group">
              <label for="productdesc">Product Description</label>
              <input class="form-control" id="productdesc" type="text" value={{productDetail.PRODUCT_DESCRIPTION}} disabled="">
            </div>
            <div class="form-group">
              <label for="productbranddesc">Brand Description</label>
              <input class="form-control" id="productbranddesc" type="text" value={{productDetail.BRAND_LEVEL2_DESC}} disabled="">
            </div>
          </div>
        </div>
      </div>
      <!-- /.col-->
    </div>
  </div>
</div>
{% endblock contentt %}
