<!DOCTYPE html>
<!--
* CoreUI Pro - Bootstrap Admin Template
* @version v2.1.5
* @link https://coreui.io/pro/
* Copyright (c) 2018 creativeLabs Łukasz Holeczek
* License (https://coreui.io/pro/license)
-->
<html lang="en">

<head>
  {% load staticfiles %}
  <!-- 
    <base href="{% static '/' %}"> -->
  <base href="./">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
  <meta name="description" content="CoreUI - Open Source Bootstrap Admin Template">
  <meta name="author" content="Łukasz Holeczek">
  <meta name="keyword" content="Bootstrap,Admin,Template,Open,Source,jQuery,CSS,HTML,RWD,Dashboard">
  <meta name="keyword" content="Bootstrap,Admin,Template,Open,Source,jQuery,CSS,HTML,RWD,Dashboard">
  <title>Singer</title>
  <link href="{% static '@coreui/icons/css/coreui-icons.min.css' %}" rel="stylesheet">
  <link href="{% static 'flag-icon-css/css/flag-icon.min.css' %}" rel="stylesheet">
  <link href="{% static 'font-awesome/css/font-awesome.min.css' %}" rel="stylesheet">
  <link href="{% static 'simple-line-icons/css/simple-line-icons.css' %}" rel="stylesheet">
  <link rel="shortcut icon" type="image/png" href="{% static 'img/favicon.png' %}">
  <!-- Main styles for this application-->
  <link href="{% static 'css/style.css' %}" rel="stylesheet">
  <link href="{% static 'vendors/pace-progress/css/pace.min.css' %}" rel="stylesheet">
  <link href="{% static 'datatables.net-bs4/css/dataTables.bootstrap4.css' %}" rel="stylesheet">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="http://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
</head>

<body class="app header-fixed sidebar-fixed aside-menu-fixed sidebar-lg-show">
  <header class="app-header navbar">
    <button class="navbar-toggler sidebar-toggler d-lg-none mr-auto" type="button" data-toggle="sidebar-show">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="#">
        <img class="navbar-brand-full" src="{% static 'img/brand/logo.jpg' %}" width="89" height="auto" style="padding-top:12px;" alt="Singer Logo">
        <img class="navbar-brand-minimized" src="{% static 'img/brand/logo.jpg' %}" width="30" height="30" alt="Singer Logo">
      </a>
    <button class="navbar-toggler sidebar-toggler d-md-down-none" type="button" data-toggle="sidebar-lg-show">
      <span class="navbar-toggler-icon"></span>
    </button>
    <ul class="nav navbar-nav d-md-down-none">
      <li class="nav-item px-3">
        <a class="nav-link" href="{% url 'storeDetail'%}">Home</a>
      </li>
      <li class="nav-item px-3">
        <a class="nav-link" href="{% url 'addUser'%}">Add Users</a>
      </li>
    </ul>
    <ul class="nav navbar-nav ml-auto">
      <li class="nav-item px-3">
        <a class="card-header-action"  href="{% url 'logout' %}">
                    <div class="btn btn-primary" style="margin-left:47%">LogOut</div>
                  </a>
      </li>
      <li class="nav-item px-3"></li>
    </ul>
  </header>
  <div class="app-body">
    {% block content %} by using super you can call here written data {% endblock content %}
  </div>
  <script src="{% static 'jquery/dist/jquery.min.js' %}"></script>
  <script src="{% static 'popper.js/dist/umd/popper.min.js' %}"></script>
  <script src="{% static 'bootstrap/dist/js/bootstrap.min.js' %}"></script>
  <script src="{% static 'pace-progress/pace.min.js' %}"></script>
  <script src="{% static 'perfect-scrollbar/dist/perfect-scrollbar.min.js' %}"></script>
  <script src="{% static '@coreui/coreui-pro/dist/js/coreui.min.js' %}"></script>
  <script src="{% static 'datatables.net/js/jquery.dataTables.js' %}"></script>
  <script src="{% static 'datatables.net-bs4/js/dataTables.bootstrap4.js' %}"></script>
  <script src="{% static 'js/datatables.js' %}"></script>
  <script src="https://maps.googleapis.com/maps/api/js?callback=InitMap&amp;key="></script>
  < /body> < /html>
