{% extends "src/navbar.html" %}
{% block contentt %}
{% load static %}
{% include "src/tabs.html" %}
<!-- Breadcrumb-->
<div class="container-fluid">
  <div class="animated fadeIn">
    <div>
      <div>
        <div class="card text-center">
          <div class="card-header">
            <strong>Events</strong> Details
          </div>
          <div class="card-body">
            <div>
              {% if messages %}
              {% for message in messages %} <div class="alert alert-success" role="alert"><button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                {{message}}</div>
              {% endfor %}
              {% endif %}
              <form class="form-horizontal" action="{% url 'saveEventsData' %}" method="POST" role="form">
                {% csrf_token %}
                <input type="hidden" id="productcategory" name="productcategory" value="{{productcategory}}">
                <input type="hidden" id="objid" name="objid" value="{{eventobj.id}}">
                <div class="form-group row">
                  <!-- /.row-->
                  <div class="col-md-4">
                    <div class="form-group row">
                      <label class="col-md-4 col-form-label" for="fromdate">From Date</label>
                      <div class="col-md-8">
                        <input class="form-control" id="todate" type="date" name="fromdate" placeholder="date" required="true" value={{eventobj.FROM_DATE}}>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="form-group row">
                      <label class="col-md-4 col-form-label" for="todate">To Date</label>
                      <div class="col-md-8">
                        <input class="form-control" id="todate" type="date" name="todate" placeholder="date" required="true" value={{eventobj.TO_DATE}}>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="form-group row">
                      <label class="col-md-4 col-form-label" for="type">Type</label>
                      <div class="col-md-8">
                        <select class="form-control" id="type" name="type">
                          <option value="All" {% ifequal eventobj.TYPE "All" %} selected {% endifequal %}>All</option>
                          <option value="Retail" {% ifequal eventobj.TYPE "Retail" %} selected {% endifequal %}>Retail</option>
                          <option value="Wholesale" {% ifequal eventobj.TYPE "Wholesale" %} selected {% endifequal %}>Wholesale</option>
                        </select>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-md-4">
                    <div class="form-group row">
                      <label class="col-md-4 col-form-label" for="store">Store</label>
                      <div class="col-md-8">
                        <select class="form-control" id="store" name="store">
                          <option value="All" selected>All</option>
                          {% for storeitem in storelist %}
                          <option value="{{storeitem}}" {% ifequal eventobj.STORE storeitem %} selected {% endifequal %}>{{storeitem}}</option>
                          {% endfor %}
                        </select>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="form-group row">
                      <label class="col-md-4 col-form-label" for="province">Province</label>
                      <div class="col-md-8">
                        <select class="form-control" id="province" name="province">
                          <option value="All" selected>All</option>
                          {% for provinceitem in provincelist %}
                          <option value="{{provinceitem}}" {% ifequal eventobj.PROVINCE provinceitem %} selected {% endifequal %}>{{provinceitem}}</option>
                          {% endfor %}
                        </select>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="form-group row">
                      <label class="col-md-4 col-form-label" for="district">District</label>
                      <div class="col-md-8">
                        <select class="form-control" id="district" name="district">
                          <option value="All" selected>All</option>
                          {% for districtitem in districtlist %}
                          <option value="{{districtitem}}" {% ifequal eventobj.DISTRICT districtitem %} selected {% endifequal %}>{{districtitem}}</option>
                          {% endfor %}
                        </select>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-md-4">
                    <div class="form-group row">
                      <label class="col-md-4 col-form-label" for="brand">Brand</label>
                      <div class="col-md-8">
                        <select class="form-control" id="brand" name="brand">
                          <option value="All" selected>All</option>
                          {% for branditem in brandlist %}
                          <option value="{{branditem}}" {% ifequal eventobj.BRAND branditem %} selected {% endifequal %}>{{branditem}}</option>
                          {% endfor %}
                        </select>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="form-group row">
                      <label class="col-md-4 col-form-label" for="sku">SKU</label>
                      <div class="col-md-8">
                        {% if eventobj %}
                        <input type="text" class="form-control" name="sku" id="sku" value="{{eventobj.SKU}}">
                        {% else %}
                        <input type="text" class="form-control" name="sku" id="sku" value="ALL">
                        {% endif %}
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="form-group row">
                      <label class="col-md-4 col-form-label" for="expectedspend">% Impact</label>
                      <div class="col-md-8">
                        <input type="text" class="form-control" name="expectedimpact" id="expectedimpact" value={{eventobj.EXPECTED_PRCNT_IMPACT}}>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-md-4">
                    <div class="form-group row">
                      <label class="col-md-4 col-form-label" for="impact">Postive Impact</label>
                      <div class="col-md-8">
                        <label class="switch switch-label switch-pill switch-outline-primary-alt ">
                          <input class="switch-input" type="checkbox" name="impact" {% ifequal eventobj.POSITIVE_IMPACT "Yes" %} checked {% else %} unchecked {% endifequal %}>
                          <span class="switch-slider" data-checked="Yes" data-unchecked="No"></span>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="form-group row">
                      <label class="col-md-4 col-form-label" for="event">Events</label>
                      <div class="col-md-8">
                        <select class="form-control" id="event" name="event" onchange='CheckEvent(this.value);'>
                          {% for eventobjj in eventlist %}
                          <option value="{{eventobjj}}" {% ifequal eventobj.EVENT eventobjj %} selected {% endifequal %}>{{eventobjj}}</option>
                          {% endfor %}
                        </select>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="form-group row" {% ifequal eventobj.EVENT 'Others' %} style=' display:flex;' {% else %} style=' display:none;' {% endifequal %} id="othereventdiv">
                      <label class="col-md-4 col-form-label" for="otherevent">Please Specify</label>
                      <div class="col-md-8">
                        <input type="text" class="form-control" name="otherevent" id="otherevent" placeholder="If other,please specify" value={{eventobj.OTHER_EVENT}}>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="card-footer">
                  <button class="btn btn-sm btn-primary" type="submit">
                    <i class="fa fa-dot-circle-o"></i> Submit</button>
                  <button class="btn btn-sm btn-danger" type="reset">
                    <i class="fa fa-ban"></i> Reset</button>
                </div>
                <div class="card">
                  <a align="left" style="margin-left:2%;margin-top:2%;margin-bottom:-4%" href="{% url 'export_eventdetails_xls' productcategory%}">
                    <div class="btn btn-primary">Export</div>
                  </a>
                  <div class="card-body">
                    <table class="table table-striped table-bordered datatable">
                      <thead>
                        <tr>
                          <th>Edit</th>
                          <th>Event</th>
                          <th>SKU</th>
                          <th>Store</th>
                          <th>Brand</th>
                          <th>From Date</th>
                          <th>To Date</th>
                          <th>Type</th>
                          <th>% Impact</th>
                          <th>Positive Impact</th>
                          <th>Province</th>
                          <th>District</th>
                          <th>Delete</th>
                        </tr>
                      </thead>
                      <tbody>
                        {% for event in eventdata %}
                        <tr>
                          <td>
                            <a class="btn btn-info" href="{% url 'editEventsData' event.id productcategory%}" id="edit" >
                          <i class="fa fa-edit"></i>
                        </a>
                          </td>
                          <td>{{event.EVENT}}</td>
                          <td>{{event.SKU}}</td>
                          <td>{{event.STORE}}</td>
                          <td>{{event.BRAND}}</td>
                          <td>{{event.FROM_DATE}}</td>
                          <td>{{event.TO_DATE}}</td>
                          <td>{{event.TYPE}}</td>
                          <td>{{event.EXPECTED_PRCNT_IMPACT}}</td>
                          <td>
                            {% if event.POSITIVE_IMPACT in 'Yes,yes,YES,yES,YeS,yeS' %}
                            <span class="badge badge-success">{{event.POSITIVE_IMPACT}}</span>
                            {% endif %}
                            {% if event.POSITIVE_IMPACT in 'No,no,NO,nO' %}
                            <span class="badge badge-danger">{{event.POSITIVE_IMPACT}}</span>
                            {% endif %}
                          </td>
                          <td>{{event.PROVINCE}}</td>
                          <td>{{event.DISTRICT}}</td>
                          <td>
                            <a class="btn btn-info"  id="delete" href="{% url 'delEventsData' event.id productcategory %}">
                          <i class="fa fa-trash"></i>
                        </a>
                          </td>
                        </tr>
                        {% endfor %}
                      </tbody>
                    </table>
                  </div>
                </div>
            </div>
          </div>
        </div>
      </div>
      <!-- /.col-->
      <!-- /.col-->
    </div>
    <!-- /.row-->
  </div>
</div>
<script type="text/javascript">
window.setTimeout(function() {
  $(".alert").fadeTo(500, 0).slideUp(500, function() {
    $(this).remove();
  });
}, 4000);



function CheckEvent(val) {
  var element = document.getElementById('othereventdiv');
  if (val == 'Others')
    element.style.display = 'flex';
  else
    element.style.display = 'none';
}

</script>
{% endblock contentt %}
