{% extends "src/navbar.html" %}
{% block contentt %}
{% load static %}
<ol class="breadcrumb">
</ol>
<div class="container-fluid">
  <div class="animated fadeIn">
    <div class="row">
      <div class="col-sm-6 col-lg-3">
        <div class="card text-white bg-primary">
          <div class="card-body pb-0">
            <h5>
                <center>
                  No. of Active Products
                </center>
              </h5>
            <span class="display-4"><center>{{active}}</center></span>
          </div>
          <div class="chart-wrapper mt-3 mx-3" style="height:25px;">
            <canvas class="chart" id="card-chart1" height="25"></canvas>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-lg-3">
        <div class="card text-white bg-info">
          <div class="card-body pb-0">
            <h5>
                <center>
                  No. of Inactive Products
                </center>
              </h5>
            <span class="display-4"><center>{{inactive}}</center></span>
          </div>
          <div class="chart-wrapper mt-3 mx-3" style="height:25px;">
            <canvas class="chart" id="card-chart2" height="25"></canvas>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-lg-3">
        <div class="card text-white bg-danger">
          <div class="card-body pb-0">
            <h5>
                <center>
                  End Of Life Products
                </center>
              </h5>
            <span class="display-4"><center>{{endoflife}}</center></span>
          </div>
          <div class="chart-wrapper mt-3 mx-3" style="height:25px;">
            <canvas class="chart" id="card-chart2" height="25"></canvas>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-lg-3">
        <div class="card text-white bg-warning">
          <div class="card-body pb-0">
            <h5>
                <center>
                  No Status Products
                </center>
              </h5>
            <span class="display-4"><center>{{nostatus}}</center></span>
          </div>
          <div class="chart-wrapper mt-3 mx-3" style="height:25px;">
            <canvas class="chart" id="card-chart2" height="25"></canvas>
          </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header">
      </div>
      <div class="card-body">
        <table class="table table-striped table-bordered datatable">
          <thead>
            <tr>
              <th>Action</th>
              <th>Store</th>
              <th>Channel</th>
              <th>Province</th>
              <th>District</th>
              <th>Branch</th>
              <th>Latitude</th>
              <th>Longitude</th>
              <th>Mobile No</th>
            </tr>
          </thead>
          <tbody>
            {% for store in storelist %}
            <tr>
              <td>
                <a class="btn btn-info" href="{% url 'storeEditForm' store.SITE_ID %}" id="edit" >
                          <i class="fa fa-edit"></i>
                        </a>
              </td>
              <td>{{store.SITE_ID}}</td>
              <td>{{store.CHANNEL}}</td>
              <td>{{store.STORE_PROVINCE}}</td>
              <td>{{store.DISTRICT}}</td>
              <td>{{store.BRANCH}}</td>
              <td>{{store.LATTITUDE}}</td>
              <td>{{store.LONGITUDE}}</td>
              <td>{{store.MOBILE_NO}}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <!--   <script type="text/javascript">
  var InitMap = function InitMap() {

    
    var locations = [{% for store in storelist %}
    {% if store.LATTITUDE and store.LONGITUDE %}
    {% ifnotequal store.LATTITUDE "#N/A" %}
      {
        lat: {{store.LATTITUDE}},
        lng: {{store.LONGITUDE}},
        label: 'S',
        draggable: false,
        title: '{{store.SITE_ID}}'
      },
       {% endifnotequal%}
      {% endif %}
     
      {% endfor %}
    ]
    console.log(locations)
    var map = new google.maps.Map(document.getElementById('map'), {
      center: {
        lat: locations[0].lat,
        lng: locations[0].lng
      },
      zoom: 11
    });
    var markers = locations.map(function(location, i) {
      var contentString = "<strong>" + location.title + "</strong>";
      var infoWindow = new google.maps.InfoWindow({
        content: contentString,
        maxWidth: 200
      });
      var marker = new google.maps.Marker({
        position: location,
        label: location.label,
        map: map,
        title: location.title,
        contentString: contentString
      });
      marker.addListener('click', function() {
        infoWindow.open(map, marker);
      });
      return marker;
    });
  };

  if (window.google && window.google.maps) {
    InitMap();
  }

  </script>
 -->
  {% endblock contentt %}
