{% extends "src/navbar.html" %}
{% block contentt %}
{% load static %}
{% include "src/tabs.html" %}
<div class="container-fluid">
  <div class="animated fadeIn">
    <div class="row">
      <div class="col-md-6">
        <div class="card">
          <div class="card-header">
            <strong>Edit Product Categories</strong> Details</div>
          <div class="card-body">
            <form class="form-horizontal" action="{% url 'updateKitchenappliancesDetails' productDetail.PRODUCT_CODE %}" method="POST" role="form">
              {% csrf_token %}
              <div class="form-group row">
                <label class="col-md-3 col-form-label" for="customcategory1">SubCategory</label>
                <div class="col-md-9">
                  <select class="form-control" id="customcategory1" name="customcategory1">
                    <option style="display:none;">Choose Option</option>
                    <option value="Mixer Grinder" {% ifequal productDetail.CUSTOM_CATEGORY3 "Mixer Grinder" %} selected {% endifequal %}>Mixer Grinder</option>
                    <option value="Toasters / Waffle Makers" {% ifequal productDetail.CUSTOM_CATEGORY3 "Toasters / Waffle Makers" %} selected {% endifequal %}>Toasters / Waffle Makers</option>
                    <option value="Juicers/ Blenders / Smoothie Makers" {% ifequal productDetail.CUSTOM_CATEGORY3 "Juicers/ Blenders / Smoothie Makers" %} selected {% endifequal %}>Juicers/ Blenders / Smoothie Makers</option>
                    <option value="Food Processor/ Kitchen Machines" {% ifequal productDetail.CUSTOM_CATEGORY3 "Food Processor/ Kitchen Machines" %} selected {% endifequal %}>Food Processor/ Kitchen Machines</option>
                    <option value="Hand Mixers / Blenders" {% ifequal productDetail.CUSTOM_CATEGORY3 "Hand Mixers / Blenders" %} selected {% endifequal %}>Hand Mixers / Blenders</option>
                    <option value="Coffee Makers" {% ifequal productDetail.CUSTOM_CATEGORY3 "Coffee Makers" %} selected {% endifequal %}>Coffee Makers</option>
                    <option value="Kettles" {% ifequal productDetail.CUSTOM_CATEGORY3 "Kettles" %} selected {% endifequal %}>Kettles</option>
                    <option value="Fryers / Grills" {% ifequal productDetail.CUSTOM_CATEGORY3 "Fryers / Grills" %} selected {% endifequal %}>Fryers / Grills</option>
                    <option value="Others" {% ifequal productDetail.CUSTOM_CATEGORY3 "Others" %} selected {% endifequal %}>Others</option>
                  </select>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-3 col-form-label" for="customcategory2">Replacement Code</label>
                 <div class="col-md-9">
                  <select class="form-control" id="customcategory2" name="customcategory2">
                    <option style="display:none;">Choose Option</option>
                    {% for replacement_code in replacement_code_list %}
                      <option value={{replacement_code}} {% ifequal productDetail.CUSTOM_CATEGORY2 replacement_code %} selected {% endifequal %}>{{replacement_code}}</option>
                    {% endfor %}
                  </select>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-3 col-form-label" for="customcategory11">End of Life</label>
                <div class="col-md-9">
                  <select class="form-control" id="customcategory11" name="customcategory11">
                    <option style="display:none;">Choose Option</option>
                    <option value="Yes" {% ifequal productDetail.CUSTOM_CATEGORY11 "Yes" %} selected {% endifequal %}>Yes</option>
                    <option value="No" {% ifequal productDetail.CUSTOM_CATEGORY11 "No" %} selected {% endifequal %}>No</option>
                  </select>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-3 col-form-label" for="active">Active</label>
                <div class="col-md-9">
                  <select class="form-control" id="active" name="active">
                    <option style="display:none;">Choose Option</option>
                    <option value="Yes" {% ifequal productDetail.ACTIVE_FLAG "Yes" %} selected {% endifequal %}>Yes</option>
                    <option value="No" {% ifequal productDetail.ACTIVE_FLAG "No" %} selected {% endifequal %}>No</option>
                  </select>
                </div>
              </div>
              <div class="card-footer">
                <button class="btn btn-sm btn-info" onclick="history.back();">
                  <i class="fa fa-dot-circle-o"></i> Back</button>
                <button class="btn btn-sm btn-primary" type="submit">
                  <i class="fa fa-dot-circle-o"></i> Submit</button>
                <button class="btn btn-sm btn-danger" type="reset">
                  <i class="fa fa-ban"></i> Reset</button>
              </div>
            </form>
          </div>
        </div>
      </div>
      <!-- /.col-->
      <div class="col-sm-6">
        <div class="card">
          <div class="card-header">
            <strong>Product Basic</strong>
            <small>Details</small>
          </div>
          <div class="card-body">
            <div class="form-group">
              <label for="productcode">Product Code</label>
              <input class="form-control" id="productcode" type="text" value={{productDetail.PRODUCT_CODE}} disabled="">
            </div>
            <div class="form-group">
              <label for="productdesc">Product Description</label>
              <input class="form-control" id="productdesc" type="text" value={{productDetail.PRODUCT_DESCRIPTION}} disabled="">
            </div>
            <div class="form-group">
              <label for="productbranddesc">Brand Description</label>
              <input class="form-control" id="productbranddesc" type="text" value={{productDetail.BRAND_LEVEL2_DESC}} disabled="">
            </div>
          </div>
        </div>
      </div>
      <!-- /.col-->
    </div>
  </div>
</div>
{% endblock contentt %}
