{% extends "src/common.html" %}
{% block content %}
{% load static %}
<div class="sidebar">
  <nav class="sidebar-nav">
    <ul class="nav">
      <li class="nav-title">Product Details</li>
      {% if category_name == 'Refrigerators' or category_name == '' %}
      <li class="nav-item nav-dropdown">
        <a class="nav-link"  href="{% url 'productDetail' 'Refrigerators' %}" >
                <i class="nav-icon icon-puzzle"></i> Refrigerators</a>
      </li>
      {% endif %}
      {% if category_name == 'Television' or category_name == '' %}
      <li class="nav-item nav-dropdown">
        <a class="nav-link" href="{% url 'productDetail' 'Television' %}">
                <i class="nav-icon icon-puzzle"></i> Television</a>
      </li>
      {% endif %}
      {% if category_name == 'Kitchen Appliances' or category_name == '' %}
      <li class="nav-item nav-dropdown">
        <a class="nav-link" href="{% url 'productDetail' 'KITCHEN APPLANCES' %}">
                <i class="nav-icon icon-puzzle"></i> Kitchen Appliances</a>
      </li>
      {% endif %}
      {% if category_name == 'Air Conditioner' or category_name == '' %}
      <li class="nav-item nav-dropdown">
        <a class="nav-link" href="{% url 'productDetail' 'AIR CONDITIONERS' %}">
                <i class="nav-icon icon-puzzle"></i> Air Conditioner</a>
      </li>
      {% endif %}
      {% if category_name == 'Fans' or category_name == '' %}
      <li class="nav-item nav-dropdown">
        <a class="nav-link" href="{% url 'productDetail' 'FANS' %}">
                <i class="nav-icon icon-puzzle"></i> Fans</a>
      </li>
      {% endif %}
      {% if category_name == 'Irons' or category_name == '' %}
      <li class="nav-item nav-dropdown">
        <a class="nav-link" href="{% url 'productDetail' 'IRONS' %}">
                <i class="nav-icon icon-puzzle"></i> Irons</a>
      </li>
      {% endif %}
      {% if category_name == 'Rice Cooker' or category_name == '' %}
      <li class="nav-item nav-dropdown">
        <a class="nav-link" href="{% url 'productDetail' 'RICE COOKERS' %}">
                <i class="nav-icon icon-puzzle"></i> Rice Cooker</a>
      </li>
      {% endif %}
      {% if category_name == 'Audios' or category_name == '' %}
      <li class="nav-item nav-dropdown">
        <a class="nav-link" href="{% url 'productDetail' 'AUDIOS' %}">
                <i class="nav-icon icon-puzzle"></i> Audios</a>
      </li>
      {% endif %}
      {% if category_name == 'Sewing Machines' or category_name == '' %}
      <li class="nav-item nav-dropdown">
        <a class="nav-link" href="{% url 'productDetail' 'SEWING MACHINES' %}">
                <i class="nav-icon icon-puzzle"></i> Sewing Machines</a>
      </li>
      {% endif %}
      {% if category_name == 'Washing Machines' or category_name == '' %}
      <li class="nav-item nav-dropdown">
        <a class="nav-link" href="{% url 'productDetail' 'WASHING MACHINE' %}">
                <i class="nav-icon icon-puzzle"></i> Washing Machines</a>
      </li>
      {% endif %}
      {% if category_name == 'Water Pumps' or category_name == '' %}
      <li class="nav-item nav-dropdown">
        <a class="nav-link" href="{% url 'productDetail' 'WATER PUMPS' %}">
                <i class="nav-icon icon-puzzle"></i> Water Pumps</a>
      </li>
      {% endif %}
    </ul>
  </nav>
  <button class="sidebar-minimizer brand-minimizer" type="button"></button>
</div>

<body>
  <main class="main">
    {% block contentt %} by using super you can call here written data {% endblock contentt %}
  </main>
</body>
{% endblock content %}
