{% extends "src/navbar.html" %}
{% block contentt %}
{% load static %}
<!-- Breadcrumb-->{% include "src/tabs.html" %}
<div class="container-fluid">
  <div class="animated fadeIn">
    <div>
        <div class="card text-center">
          <div class="card-body">
                  <div class="card">
                    <a align="left" style="margin-left:2%;margin-top:2%;margin-bottom:-2%" href="{% url 'export_singerpromotion_details_xls' productcategory%}">
                    <div class="btn btn-primary">Export</div>
                  </a>
                    <div class="card-body">
                     <div class="card-body">
                      <table class="table table-striped table-bordered datatable">
                        <thead>
                          <tr>
                            <th>Promotion Code</th>
                            <th>Promotion Description</th>
                            <th>Promotion Start Date</th>
                            <th>Promotion End Date</th>
                            <th>Promotion Free Item</th>
                            <th>Product Code</th>
                          </tr>
                        </thead>
                        <tbody>
                          {% for promotion in promotions %}
                          <tr>
                            <td>{{promotion.PROMO_CODE}}</td>
                            <td>{{promotion.PROMO_DESC}}</td>
                            <td>{{promotion.PROMO_ST_DATE}}</td>
                            <td>{{promotion.PROMO_END_DATE}}</td>
                            <td>{{promotion.PROMOTION_FREE_ITEM}}</td>
                            <td>{{promotion.PROMOTION_EFFECT_MAIN_ITEM}}</td>
                          </tr>
                          {% endfor %}
                        </tbody>
                      </table>
                  </div>
                </div>
            </div>
        </div>
      </div>
  </div>
  {% endblock contentt %}
