{% extends "src/navbar.html" %}
{% block contentt %}
{% load static %}

<body>
    <div class="container-fluid">
      <div class="animated fadeIn">
        <div class="row">
          <div class="col-md-6">
            <div class="card">
              <div class="card-header">
                <strong>Edit Store</strong> Data</div>
              <div class="card-body">
                <form class="form-horizontal" action="{% url 'updateStoreDetails' storeDetail.SITE_ID %}" method="POST" role="form">
                  {% csrf_token %}
                  <div class="form-group row">
                    <label class="col-md-3 col-form-label" for="channelid">Channel ID</label>
                    <div class="col-md-9">
                      <input class="form-control" id="channelid" type="text" name="channelid" value={{storeDetail.CHANNEL_ID}}>
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-md-3 col-form-label" for="channel">Channel</label>
                    <div class="col-md-9">
                      <input class="form-control" id="channel" type="text" name="channel" value={{storeDetail.CHANNEL}}>
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-md-3 col-form-label" for="province">Province</label>
                    <div class="col-md-9">
                      <input class="form-control" id="province" type="text" name="province" value={{storeDetail.STORE_PROVINCE}}>
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-md-3 col-form-label" for="district">District</label>
                    <div class="col-md-9">
                      <input class="form-control" id="district" type="text" name="district" value={{storeDetail.DISTRICT}}>
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-md-3 col-form-label" for="type">Type</label>
                    <div class="col-md-9">
                      <input class="form-control" id="type" type="text" name="type" value={{storeDetail.TYPE}}>
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-md-3 col-form-label" for="latitude">Latitude</label>
                    <div class="col-md-9">
                      <input class="form-control" id="latitude" type="text" name="latitude" value={{storeDetail.LATTITUDE}}>
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-md-3 col-form-label" for="longitude">Longitude</label>
                    <div class="col-md-9">
                      <input class="form-control" id="longitude" type="text" name="longitude" value={{storeDetail.LONGITUDE}}>
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-md-3 col-form-label" for="mobileno">Mobile No</label>
                    <div class="col-md-9">
                      <input class="form-control" id="mobileno" type="number" name="mobileno" value={{storeDetail.MOBILE_NO}}>
                    </div>
                  </div>
                  <div class="card-footer">
                    <button class="btn btn-sm btn-primary" type="submit">
                      <i class="fa fa-dot-circle-o"></i> Submit</button>
                    <button class="btn btn-sm btn-danger" type="reset">
                      <i class="fa fa-ban"></i> Reset</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
          <!-- /.col-->
          <div class="col-sm-6">
            <div class="card">
              <div class="card-header">
                <strong>Store Basic</strong>
                <small>Details</small>
              </div>
              <div class="card-body">
                <div class="form-group">
                  <label for="store">Store</label>
                  <input class="form-control" id="store" type="text" value={{storeDetail.SITE_ID}} disabled="">
                </div>
                <div class="form-group">
                  <label for="branch">Branch</label>
                  <input class="form-control" id="branch" type="text" value={{storeDetail.BRANCH}} disabled="">
                </div>
              </div>
            </div>
          </div>
          <!-- /.col-->
        </div>
      </div>
    </div>
</body>
{% endblock contentt %}
