<ol class="breadcrumb">
  <div class="row"
>
    <ul class="nav nav-tabs" role="tablist">
      <li class="nav-item">
        <a class="nav-link {{productdetail}}"  href="{% url 'productDetail' productcategory %}"  >Product Details</a>
      </li>
      <li class="nav-item">
        <a class="nav-link {{tactical}}"  href="{% url 'TacticPromotionTemplate' productcategory %}" >Tactical Promotions</a>
      </li>
      <li class="nav-item">
        <a class="nav-link {{thematic}}"  href="{% url 'thematicPromotionTemplate' productcategory %}" >Thematic Promotions</a>
      </li>
      <li class="nav-item">
        <a class="nav-link {{internal}}" href="{% url 'internalPromotionTemplate' productcategory %}" >Internal Promotions</a>
      </li>
      <li class="nav-item">
        <a class="nav-link {{events}}" href="{% url 'EventsTemplate' productcategory %}" >Events</a>
      </li>
      <li class="nav-item">
        <a class="nav-link {{log}}" href="{% url 'logTemplate' productcategory %}" >Update Log</a>
      </li>
      <li class="nav-item">
        <a class="nav-link {{promotionstab}}" href="{% url 'singerPromotionTemplate' productcategory %}" >Singer Promotions</a>
      </li>
      <li class="nav-item">
        <a class="nav-link {{uploadforecast}}" href="{% url 'uploadforecast' productcategory %}" >Upload Forecast</a>
      </li>
    </ul>
  </div>
  <!-- <li class="breadcrumb-item">Refrigerator Product Details</li>
 -->
</ol>
