{% extends "src/navbar.html" %}
{% block contentt %}
{% load static %}
<!-- Breadcrumb-->
{% include "src/tabs.html" %}
<div class="container-fluid">
  <div class="animated fadeIn">
    <div>
      <div>
        <div class="card text-center">
          <div class="card-header">
            <strong>Thematic Promotions</strong> Details
          </div>
          <div class="card-body">
            <div>
              {% if messages %}
              {% for message in messages %} <div class="alert alert-success" role="alert"><button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                {{message}}</div>
              {% endfor %}
              {% endif %}
              <form class="form-horizontal" action="{% url 'saveThematicPromotionDate' %}" method="POST" role="form">
                {% csrf_token %}
                <input type="hidden" id="productcategory" name="productcategory" value="{{productcategory}}">
                <input type="hidden" id="objid" name="objid" value="{{productobj.id}}">
                <div class="form-group row">
                  <!-- /.row-->
                  <div class="col-md-4">
                    <div class="form-group row">
                      <label class="col-md-4 col-form-label" for="fromdate">From Date</label>
                      <div class="col-md-8">
                        <input class="form-control" id="todate" type="date" name="fromdate" placeholder="date" required="true" value={{productobj.FROM_DATE}}>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="form-group row">
                      <label class="col-md-4 col-form-label" for="todate">To Date</label>
                      <div class="col-md-8">
                        <input class="form-control" id="todate" type="date" name="todate" placeholder="date" required="true" value={{productobj.TO_DATE}}>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="form-group row">
                      <label class="col-md-4 col-form-label" for="type">Type</label>
                      <div class="col-md-8">
                        <select class="form-control" id="type" name="type">
                          <option value="All" {% ifequal productobj.TYPE "All" %} selected {% endifequal %}>All</option>
                          <option value="Retail" {% ifequal productobj.TYPE "Retail" %} selected {% endifequal %}>Retail</option>
                          <option value="Wholesale" {% ifequal productobj.TYPE "Wholesale" %} selected {% endifequal %}>Wholesale</option>
                        </select>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-md-4">
                    <div class="form-group row">
                      <label class="col-md-4 col-form-label" for="store">Store</label>
                      <div class="col-md-8">
                        <select class="form-control" id="store" name="store">
                          <option value="All" selected>All</option>
                          {% for storeitem in storelist %}
                          <option value="{{storeitem}}" {% ifequal productobj.STORE storeitem %} selected {% endifequal %}>{{storeitem}}</option>
                          {% endfor %}
                        </select>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="form-group row">
                      <label class="col-md-4 col-form-label" for="province">Province</label>
                      <div class="col-md-8">
                        <select class="form-control" id="province" name="province">
                          <option value="All" selected>All</option>
                          {% for provinceitem in provincelist %}
                          <option value="{{provinceitem}}" {% ifequal productobj.PROVINCE provinceitem %} selected {% endifequal %}>{{provinceitem}}</option>
                          {% endfor %}
                        </select>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="form-group row">
                      <label class="col-md-4 col-form-label" for="district">District</label>
                      <div class="col-md-8">
                        <select class="form-control" id="district" name="district">
                          <option value="All" selected>All</option>
                          {% for districtitem in districtlist %}
                          <option value="{{districtitem}}" {% ifequal productobj.DISTRICT districtitem %} selected {% endifequal %}>{{districtitem}}</option>
                          {% endfor %}
                        </select>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-md-4">
                    <div class="form-group row">
                      <label class="col-md-4 col-form-label" for="sku">SKU</label>
                      <div class="col-md-8">
                        {% if productobj %}
                        <input type="text" class="form-control" name="sku" id="sku" value="{{productobj.SKU}}">
                        {% else %}
                        <input type="text" class="form-control" name="sku" id="sku" value="ALL">
                        {% endif %}
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="form-group row">
                      <label class="col-md-4 col-form-label" for="brand">Brand</label>
                      <div class="col-md-8">
                        <select class="form-control" id="brand" name="brand">
                          <option value="All" selected>All</option>
                          {% for branditem in brandlist %}
                          <option value="{{branditem}}" {% ifequal productobj.BRAND branditem %} selected {% endifequal %}>{{branditem}}</option>
                          {% endfor %}
                        </select>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="form-group row">
                      <label class="col-md-4 col-form-label" for="expectedspend">Expected Spend</label>
                      <div class="col-md-8">
                        <input type="text" class="form-control" name="expectedspend" id="expectedspend" value={{productobj.EXPECTED_SPEND}}>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-md-4">
                    <div class="form-group row">
                      <label class="col-md-4 col-form-label" for="medium">Medium</label>
                      <div class="col-md-8">
                        <select class="form-control" id="medium" name="medium" onchange='CheckMedium(this.value);'>
                          {% for medium in mediumlist %}
                          <option value="{{medium}}" {% ifequal productobj.MEDIUM medium %} selected {% endifequal %}>{{medium}}</option>
                          {% endfor %}
                        </select>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="form-group row" {% ifequal productobj.MEDIUM 'Others' %} style=' display:flex;' {% else %} style=' display:none;' {% endifequal %} id="othermediumdiv">
                      <label class="col-md-4 col-form-label" for="othermedium">Please Specify</label>
                      <div class="col-md-8">
                        <input type="text" class="form-control" name="othermedium" id="othermedium" placeholder="If others,please specify" value={{productobj.OTHER_MEDIUM}}>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="card-footer">
                  <button class="btn btn-sm btn-primary" type="submit">
                    <i class="fa fa-dot-circle-o"></i> Submit</button>
                  <button class="btn btn-sm btn-danger" type="reset">
                    <i class="fa fa-ban"></i> Reset</button>
                </div>
                <div class="card">
                  <a align="left" style="margin-left:2%;margin-top:2%;margin-bottom:-4%" href="{% url 'export_thematicpromotiondetails_xls' productcategory%}">
                    <div class="btn btn-primary">Export</div>
                  </a>
                  <div class="card-body">
                    <table class="table table-striped table-bordered datatable">
                      <thead>
                        <tr>
                          <th>Edit</th>
                          <th>SKU</th>
                          <th>Store</th>
                          <th>Brand</th>
                          <th>From Date</th>
                          <th>To Date</th>
                          <th>Type</th>
                          <th>Medium</th>
                          <th>Province</th>
                          <th>District</th>
                          <th>Expected Spend</th>
                          <th>Delete</th>
                        </tr>
                      </thead>
                      <tbody>
                        {% for promotion in promotiondata %}
                        <tr>
                          <td>
                            <a class="btn btn-info" href="{% url 'editThematicPromotionData' promotion.id productcategory%}" id="edit" >
                          <i class="fa fa-edit"></i>
                        </a>
                          </td>
                          <td>{{promotion.SKU}}</td>
                          <td>{{promotion.STORE}}</td>
                          <td>{{promotion.BRAND}}</td>
                          <td>{{promotion.FROM_DATE}}</td>
                          <td>{{promotion.TO_DATE}}</td>
                          <td>{{promotion.TYPE}}</td>
                          <td>{{promotion.MEDIUM}}</td>
                          <td>{{promotion.PROVINCE}}</td>
                          <td>{{promotion.DISTRICT}}</td>
                          <td>{{promotion.EXPECTED_SPEND}}</td>
                          <td>
                            <a class="btn btn-info"  id="delete" href="{% url 'delThematicPromotion' promotion.id productcategory %}">
                          <i class="fa fa-trash"></i>
                        </a>
                          </td>
                        </tr>
                        {% endfor %}
                      </tbody>
                    </table>
                  </div>
                </div>
            </div>
          </div>
        </div>
      </div>
      <!-- /.col-->
      <!-- /.col-->
    </div>
    <!-- /.row-->
  </div>
</div>
<script type="text/javascript">
window.setTimeout(function() {
  $(".alert").fadeTo(500, 0).slideUp(500, function() {
    $(this).remove();
  });
}, 4000);



function CheckMedium(val) {
  var element = document.getElementById('othermediumdiv');
  if (val == 'Others')
    element.style.display = 'flex';
  else
    element.style.display = 'none';
}

</script>
{% endblock contentt %}
