{% extends "src/navbar.html" %}
{% block contentt %}
{% load static %}
<!-- Breadcrumb-->{% include "src/tabs.html" %}
<div class="container-fluid">
  <div class="animated fadeIn">
    <div>
      <div>
        <div class="card text-center">
         <!--  <div class="card-header">
            <strong>Tactical Promotions</strong> Details
          </div> -->
          <div class="card-body">
            <div>
              {% if messages %}
              {% for message in messages %} <div class="alert alert-success" role="alert"><button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                {{message}}</div>
              {% endfor %}
              {% endif %}
              <form class="form-horizontal" action="{% url 'saveUpdateLogData' %}" method="POST" role="form">
                {% csrf_token %}
                <input type="hidden" id="productcategory" name="productcategory" value="{{productcategory}}">
                <div class=" row">
                  <!-- /.row-->
                  <div class="col-md-8">
                    <div class=" row">
                      <label class="col-md-4 col-form-label" for="managername">Brand/Category Manager Name*</label>
                      <div class="col-md-4">
                        <input class="form-control" id="managername" type="text" name="managername" placeholder="enter your name"  required="true">
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class=" row">
                      <label class="col-md-4 col-form-label" for="todaydate">Today Date</label>
                      <div class="col-md-8">
                        <input class="form-control" id="todaydate" type="text" name="todaydate" value="{{todaydate}}" disabled>
                      </div>
                    </div>
                  </div>
                 
                </div>
                <div class=" row">
                  <div class="col-md-8">
                    <div class=" row">
                      <label class="col-md-6 col-form-label" for="productdetails">Product Details: </label>
                      <div class="col-md-6">
                        <label class="radio-inline">
                            <input type="radio" name="productdetails" value="yes" checked>Entered
                          </label>
                          <label class="radio-inline">
                            <input type="radio" name="productdetails" value="no">None
                          </label>
                      </div>
                    </div>
                  </div>                 
                </div>
                <div class="row">
                  <div class="col-md-8">
                    <div class="row">
                      <label class="col-md-6 col-form-label" for="tacticalpromotion">Tactical Promotions: </label>
                      <div class="col-md-6">
                        <label class="radio-inline">
                            <input type="radio" name="tacticalpromotion" value="yes" checked>Entered
                          </label>
                          <label class="radio-inline">
                            <input type="radio" name="tacticalpromotion" value="no">None
                          </label>
                      </div>
                    </div>
                  </div>                 
                </div>

                <div class="row">
                  <div class="col-md-8">
                    <div class="row">
                      <label class="col-md-6 col-form-label" for="thematicpromotion">Thematic Promotions: </label>
                      <div class="col-md-6">
                        <label class="radio-inline">
                            <input type="radio" name="thematicpromotion" value="yes" checked>Entered
                          </label>
                          <label class="radio-inline">
                            <input type="radio" name="thematicpromotion" value="no">None
                          </label>
                      </div>
                    </div>
                  </div>                 
                </div>

                <div class=" row">
                  <div class="col-md-8">
                    <div class=" row">
                      <label class="col-md-6 col-form-label" for="internalpromotion">Internal Promotions: </label>
                      <div class="col-md-6">
                        <label class="radio-inline">
                            <input type="radio" name="internalpromotion" value="yes" checked>Entered
                          </label>
                          <label class="radio-inline">
                            <input type="radio" name="internalpromotion" value="no">None
                          </label>
                      </div>
                    </div>
                  </div>                 
                </div>
             
              <div class=" row">
                  <div class="col-md-8">
                    <div class=" row">
                      <label class="col-md-6 col-form-label" for="events">Events: </label>
                      <div class="col-md-6">
                        <label class="radio-inline">
                            <input type="radio" name="events" value="yes" checked>Entered
                          </label>
                          <label class="radio-inline">
                            <input type="radio" name="events" value="no">None
                          </label>
                      </div>
                    </div>
                  </div>                 
                </div>
              
              <div class=" row">
                  <div class="col-md-8">
                    <div class=" row">
                      <label class="col-md-6 col-form-label" for="externalevents">Post Month Events(External): </label>
                      <div class="col-md-6">
                        <label class="radio-inline">
                            <input type="radio" name="externalevents" value="yes" checked>Entered
                          </label>
                          <label class="radio-inline">
                            <input type="radio" name="externalevents" value="no">None
                          </label>
                      </div>
                    </div>
                  </div>                 
                </div>   
                 <div class=" row">
                  <div class="col-md-8">
                    <div class=" row">
                      <label class="col-md-6 col-form-label" for="internalevents">Post Month Events(Internal): </label>
                      <div class="col-md-6">
                        <label class="radio-inline">
                            <input type="radio" name="internalevents" value="yes" checked>Entered
                          </label>
                          <label class="radio-inline">
                            <input type="radio" name="internalevents" value="no">None
                          </label>
                      </div>
                    </div>
                  </div>                 
                </div>   
                  <div class="card-footer">
                    <button class="btn btn-sm btn-primary" type="submit">
                      <i class="fa fa-dot-circle-o"></i> Submit</button>
                    <button class="btn btn-sm btn-danger" type="reset">
                      <i class="fa fa-ban"></i> Reset</button>
                  </div>
                  <div class="card">
                    <a align="left" style="margin-left:2%;margin-top:2%;margin-bottom:-2%" href="{% url 'export_logdetails_xls' productcategory%}">
                    <div class="btn btn-primary">Export</div>
                  </a>
                    <div class="card-body">
                      <table class="table table-striped table-bordered datatable">
                        <thead>
                          <tr>
                            <th>Manager Name</th>
                            <th>Date</th>
                            <th>Product Details Entered</th>
                            <th>Tactical Promotions Entered</th>
                            <th>Thematic Promotions Entered</th>
                            <th>Internal Promotions Entered</th>
                            <th>Events Entered</th>
                            <th>External Events Entered</th>
                            <th>Internal Events Entered</th>
                          </tr>
                        </thead>
                        <tbody>
                          {% for log in logs %}
                          <tr>
                            <td>{{log.MANAGER_NAME}}</td>
                            <td>{{log.TODAY_DATE}}</td>
                            <td>{{log.PRODUCT_DETAILS_ENTERED}}</td>
                            <td>{{log.TACTICAL_ENTERED}}</td>
                            <td>{{log.THEMATIC_ENTERED}}</td>
                            <td>{{log.INTERNAL_ENTERED}}</td>
                            <td>{{log.EVENTS_ENTERED}}</td>
                            <td>{{log.EXTERNAL_EVENTS_ENTERED}}</td>
                            <td>{{log.INTERNAL_EVENTS_ENTERED}}</td>
                          </tr>
                          {% endfor %}
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
            </div>
          </div>
        </div>
        <!-- /.col-->
        <!-- /.col-->
      </div>
      <!-- /.row-->
    </div>
  </div>
  <script type="text/javascript">
  window.setTimeout(function() {
    $(".alert").fadeTo(500, 0).slideUp(500, function() {
      $(this).remove();
    });
  }, 4000);

  function CheckMedium(val) {
    var element = document.getElementById('othermediumdiv');
    if (val == 'Others')
      element.style.display = 'flex';
    else
      element.style.display = 'none';
  }

  </script>
  <script src="{% static 'js/promotionseventsdatatable.js' %}"></script>
  {% endblock contentt %}
