{% extends "src/navbar.html" %}
{% block contentt %}
{% load static %}
{% include "src/tabs.html" %}
<div class="container-fluid">
  <div class="animated fadeIn">
    <div>
      <div>
        <div class="card text-center">
          <div class="card-header">
            <strong>Upload Forecast</strong> Details
          </div>
          <div class="card-body">
            <div>
              {% if messages %}
              {% for message in messages %} <div class="alert alert-success" role="alert"><button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                {{message}}</div>
              {% endfor %}
              {% endif %}
              <div class="card-body collapse show" id="collapseExample">
                        {% block context %}
                        <h>The csv file should have the following fields:- <b>Part Number, Year, Month, Forecast Qty</b></h>
                        <br/><br/>
                        <form action= "{% url 'uploadforecast' productcategory %}" class="form-horizontal"  method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="form-actions">
                          <input type="file" title="Upload csv file" name="csv_file" class="btn btn-primary" required="required">
                          <button class="btn btn-sm btn-primary" type="submit" style="height: 38px;">
                            <i class="fa fa-dot-circle-o"></i> Submit</button>
                        </div>
                      </form>
                    {% endblock %}
                    </div>


                
                <div class="card">
                  <div class="card-header">
                    <div class="card-header-actions">
                      <a class="card-header-action" target="_blank" href="{% url 'export_forecastdata_xls' productcategory %}">
                                <div class="btn btn-primary">Export</div>
                              </a>
                    </div>
                  </div>
                  <div class="card-body">
                    <table class="table nowrap display" width="100%" id="forecast_table">
                      <thead>
                        <tr>
                          <th>Part Number</th>
                          <th>Year</th>
                          <th>Month</th>
                          <th>Forecast Quantity</th>
                          <th>Uploaded year:month</th>
                        </tr>
                      </thead>
                      <div class="forecast-spinner"></div>
                      <tbody>
                        <!-- {% for forecast in forecastdata %}
                        <tr>
                          <td>{{forecast.PART_NUMBER}}</td>
                          <td>{{forecast.YEAR}}</td>
                          <td>{{forecast.MONTH}}</td>
                          <td>{{forecast.FORECAST_QTY}}</td>
                          <td>{{forecast.UPLOAD_YEAR_MONTH}}</td>
                        </tr>
                        {% endfor %} -->
                      </tbody>
                    </table>
                  </div>
                </div>
            </div>
          </div>
        </div>
      
<script type="text/javascript">

window.setTimeout(function() {
  $(".alert").fadeTo(500, 0).slideUp(500, function() {
    $(this).remove();
  });
}, 4000);

$(document).ready(function() {
          var productcategory = "{{productcategory|safe}}";

            $('<div class="loading" align="center"><i class="fa fa-spinner fa-spin fa-3x fa-fw"></i> </div>').appendTo('.forecast-spinner');
            
            forecast_table = $('#forecast_table').dataTable({
                    "processing": true,
                    "serverSide": true,
                    "search":{
                        regex:true
                    },
                    "ajax": {
                        "processing": true,
                        "url": "{% url 'forecast_table_asJson' %}",
                        "data": {'productcategory':productcategory},
                        "type":"GET"
                    },
                    "initComplete": function () {
                        $('div.loading').remove();
                        $('#forecast_process_spinner').hide();
                    },
                    "drawCallback": function(settings) {
                       $('#forecast_process_spinner').hide(); 
                    },

                   
                    "columnDefs": [{
                            name: 'PART_NUMBER',
                            orderable: true,
                            "search": {
                            "regex": true
                            },
                            searchable: true,
                   
                            targets: [0]
                        },
                        {
                            name: 'YEAR',
                            orderable: true,
                            searchable: true,
                            search: {
                            regex: true
                            },
                            targets: [1]
                        },
                        {
                            name: 'MONTH',
                            orderable: true,
                            searchable: true,
                            search: {
                            regex: true
                            },
                            targets: [2]
                        },
                        {
                            name: 'FORECAST_QTY',
                            orderable: true,
                            searchable: true,
                            search: {
                            regex: true
                            },
                            targets: [3]
                        },
                        {
                            name: 'UPLOAD_YEAR_MONTH',
                            orderable: true,
                            searchable: true,
                            search: {
                            regex: true
                            },
                            targets: [4]
                        }  
                    ],

                });

            });
         

    $('#forecast_table').on( 'processing.dt', function ( e, settings, processing ) {
        $('.loading').css( 'display', processing ? 'block' : 'none' );
    } );



</script>
{% endblock contentt %}
