{% extends "src/navbar.html" %}
{% block contentt %}
{% load static %}
{% include "src/tabs.html" %}
<div class="container-fluid">
  <div class="animated fadeIn">
    <div class="row">
      <div class="col-md-6">
        <div class="card">
          <div class="card-header">
            <strong>Edit Product Categories</strong> Details</div>
          <div class="card-body">
            <form class="form-horizontal" action="{% url 'updatewaterpumpDetails' productDetail.PRODUCT_CODE %}" method="POST" role="form">
              {% csrf_token %}
              <div class="form-group row">
                <label class="col-md-3 col-form-label" for="customcategory1">Category</label>
                <div class="col-md-9">
                  <select class="form-control" id="customcategory1" name="customcategory1">
                    <option style="display:none;">Choose Option</option>
                    <option value="Domestic" {% ifequal productDetail.CUSTOM_CATEGORY1 "Domestic" %} selected {% endifequal %}>Domestic</option>
                    <option value="Agriculture" {% ifequal productDetail.CUSTOM_CATEGORY1 "Agriculture" %} selected {% endifequal %}>Agriculture</option>
                  </select>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-3 col-form-label" for="customcategory2">Pump Type</label>
                <div class="col-md-9">
                  <select class="form-control" id="customcategory2" name="customcategory2">
                    <option style="display:none;">Choose Option</option>
                    <option value="Submersible" {% ifequal productDetail.CUSTOM_CATEGORY2 "Submersible" %} selected {% endifequal %}>Submersible</option>
                    <option value="Normal" {% ifequal productDetail.CUSTOM_CATEGORY2 "Normal" %} selected {% endifequal %}>Normal</option>
                    <option value="Pressure" {% ifequal productDetail.CUSTOM_CATEGORY2 "Pressure" %} selected {% endifequal %}>Pressure</option>
                  </select>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-3 col-form-label" for="customcategory3">Submersible Type</label>
                <div class="col-md-9">
                  <select class="form-control" id="customcategory3" name="customcategory3">
                    <option style="display:none;">Choose Option</option>
                    <option value="Normal" {% ifequal productDetail.CUSTOM_CATEGORY3 "Normal" %} selected {% endifequal %}>Normal</option>
                    <option value="Tube" {% ifequal productDetail.CUSTOM_CATEGORY3 "Tube" %} selected {% endifequal %}>Tube</option>
                  </select>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-3 col-form-label" for="customcategory4">Horse Power Rating</label>
                <div class="col-md-9">
                  <select class="form-control" id="customcategory4" name="customcategory4">
                    <option style="display:none;">Choose Option</option>
                    <option value="0.5" {% ifequal productDetail.CUSTOM_CATEGORY4 "0.5" %} selected {% endifequal %}>0.5</option>
                    <option value="1" {% ifequal productDetail.CUSTOM_CATEGORY4 "1" %} selected {% endifequal %}>1</option>
                    <option value="1.5" {% ifequal productDetail.CUSTOM_CATEGORY4 "1.5" %} selected {% endifequal %}>1.5</option>
                    <option value="2" {% ifequal productDetail.CUSTOM_CATEGORY4 "2" %} selected {% endifequal %}>2</option>
                    <option value="2.5" {% ifequal productDetail.CUSTOM_CATEGORY4 "2.5" %} selected {% endifequal %}>2.5</option>
                    <option value="3" {% ifequal productDetail.CUSTOM_CATEGORY4 "3" %} selected {% endifequal %}>3</option>
                    <option value="3.5" {% ifequal productDetail.CUSTOM_CATEGORY4 "3.5" %} selected {% endifequal %}>3.5</option>
                    <option value="4" {% ifequal productDetail.CUSTOM_CATEGORY4 "4" %} selected {% endifequal %}>4</option>
                    <option value="4.5" {% ifequal productDetail.CUSTOM_CATEGORY4 "4.5" %} selected {% endifequal %}>4.5</option>
                    <option value="5" {% ifequal productDetail.CUSTOM_CATEGORY4 "5" %} selected {% endifequal %}>5</option>
                    <option value="5.5" {% ifequal productDetail.CUSTOM_CATEGORY4 "5.5" %} selected {% endifequal %}>5.5</option>
                    <option value="6" {% ifequal productDetail.CUSTOM_CATEGORY4 "6" %} selected {% endifequal %}>6</option>
                    <option value="6.5" {% ifequal productDetail.CUSTOM_CATEGORY4 "6.5" %} selected {% endifequal %}>6.5</option>
                    <option value="7" {% ifequal productDetail.CUSTOM_CATEGORY4 "7" %} selected {% endifequal %}>7</option>
                    <option value="7.5" {% ifequal productDetail.CUSTOM_CATEGORY4 "7.5" %} selected {% endifequal %}>7.5</option>
                    <option value="8" {% ifequal productDetail.CUSTOM_CATEGORY4 "8" %} selected {% endifequal %}>8</option>
                    <option value="8.5" {% ifequal productDetail.CUSTOM_CATEGORY4 "8.5" %} selected {% endifequal %}>9.5</option>
                    <option value="9" {% ifequal productDetail.CUSTOM_CATEGORY4 "9" %} selected {% endifequal %}>9</option>
                    <option value="9.5" {% ifequal productDetail.CUSTOM_CATEGORY4 "9.5" %} selected {% endifequal %}>9.5</option>
                    <option value="10" {% ifequal productDetail.CUSTOM_CATEGORY4 "10" %} selected {% endifequal %}>10</option>
                  </select>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-3 col-form-label" for="customcategory5">Pipes</label>
                <div class="col-md-9">
                  <select class="form-control" id="customcategory5" name="customcategory5">
                    <option style="display:none;">Choose Option</option>
                    <option value="1" {% ifequal productDetail.CUSTOM_CATEGORY5 "1" %} selected {% endifequal %}>1</option>
                    <option value="2" {% ifequal productDetail.CUSTOM_CATEGORY5 "2" %} selected {% endifequal %}>2</option>
                    <option value="3" {% ifequal productDetail.CUSTOM_CATEGORY5 "3" %} selected {% endifequal %}>3</option>
                  </select>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-3 col-form-label" for="customcategory6">Factory vs Direct Imports</label>
                <div class="col-md-9">
                  <select class="form-control" id="customcategory6" name="customcategory6">
                    <option style="display:none;">Choose Option</option>
                    <option value="Factory" {% ifequal productDetail.CUSTOM_CATEGORY6 "Factory" %} selected {% endifequal %}>Factory</option>
                    <option value="Import" {% ifequal productDetail.CUSTOM_CATEGORY6 "Import" %} selected {% endifequal %}>Import</option>
                  </select>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-3 col-form-label" for="customcategory7">Country of Origin of Motor</label>
                <div class="col-md-9">
                  <select class="form-control" id="customcategory7" name="customcategory7">
                    <option style="display:none;">Choose Option</option>
                    <option value="China" {% ifequal productDetail.CUSTOM_CATEGORY7 "China" %} selected {% endifequal %}>China</option>
                    <option value="India" {% ifequal productDetail.CUSTOM_CATEGORY7 "India" %} selected {% endifequal %}>India</option>
                    <option value="Italy" {% ifequal productDetail.CUSTOM_CATEGORY7 "Italy" %} selected {% endifequal %}>Italy</option>
                    <option value="Thailand" {% ifequal productDetail.CUSTOM_CATEGORY7 "Thailand" %} selected {% endifequal %}>Thailand</option>
                    <option value="Vietnam" {% ifequal productDetail.CUSTOM_CATEGORY7 "Vietnam" %} selected {% endifequal %}>Vietnam</option>
                    <option value="Bangladesh" {% ifequal productDetail.CUSTOM_CATEGORY7 "Bangladesh" %} selected {% endifequal %}>Bangladesh</option>
                  </select>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-3 col-form-label" for="customcategory8">Replacement Code</label>
                 <div class="col-md-9">
                  <select class="form-control" id="customcategory8" name="customcategory8">
                    <option style="display:none;">Choose Option</option>
                    {% for replacement_code in replacement_code_list %}
                      <option value={{replacement_code}} {% ifequal productDetail.CUSTOM_CATEGORY8 replacement_code %} selected {% endifequal %}>{{replacement_code}}</option>
                    {% endfor %}
                  </select>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-3 col-form-label" for="customcategory11">End of Life</label>
                <div class="col-md-9">
                  <select class="form-control" id="customcategory11" name="customcategory11">
                    <option style="display:none;">Choose Option</option>
                    <option value="Yes" {% ifequal productDetail.CUSTOM_CATEGORY11 "Yes" %} selected {% endifequal %}>Yes</option>
                    <option value="No" {% ifequal productDetail.CUSTOM_CATEGORY11 "No" %} selected {% endifequal %}>No</option>
                  </select>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-3 col-form-label" for="active">Active</label>
                <div class="col-md-9">
                  <select class="form-control" id="active" name="active">
                    <option style="display:none;">Choose Option</option>
                    <option value="Yes" {% ifequal productDetail.ACTIVE_FLAG "Yes" %} selected {% endifequal %}>Yes</option>
                    <option value="No" {% ifequal productDetail.ACTIVE_FLAG "No" %} selected {% endifequal %}>No</option>
                  </select>
                </div>
              </div>
              <div class="card-footer">
                <button class="btn btn-sm btn-info" onclick="history.back();">
                  <i class="fa fa-dot-circle-o"></i> Back</button>
                <button class="btn btn-sm btn-primary" type="submit">
                  <i class="fa fa-dot-circle-o"></i> Submit</button>
                <button class="btn btn-sm btn-danger" type="reset">
                  <i class="fa fa-ban"></i> Reset</button>
              </div>
            </form>
          </div>
        </div>
      </div>
      <!-- /.col-->
      <div class="col-sm-6">
        <div class="card">
          <div class="card-header">
            <strong>Product Basic</strong>
            <small>Details</small>
          </div>
          <div class="card-body">
            <div class="form-group">
              <label for="productcode">Product Code</label>
              <input class="form-control" id="productcode" type="text" value={{productDetail.PRODUCT_CODE}} disabled="">
            </div>
            <div class="form-group">
              <label for="productdesc">Product Description</label>
              <input class="form-control" id="productdesc" type="text" value={{productDetail.PRODUCT_DESCRIPTION}} disabled="">
            </div>
            <div class="form-group">
              <label for="productbranddesc">Brand Description</label>
              <input class="form-control" id="productbranddesc" type="text" value={{productDetail.BRAND_LEVEL2_DESC}} disabled="">
            </div>
          </div>
        </div>
      </div>
      <!-- /.col-->
    </div>
  </div>
</div>
{% endblock contentt %}
