 {% extends "base.html" %} 
    {% block content %} 
{% load static %}
{% load table_tags %}
    <body class="main-bg-img-area">
        <div class="pf-bg">
		      <div class="top-small-bar">
              <form role="form" method="POST" action="{% url 'searchProducts' %}">
               {% csrf_token %}
                  <select class="drop-down" name="category">
                    <option value="" disabled selected hidden>{{categoryname}}</option>
                    {% for categoryname in categorylist %}
                     <option value="{{categoryname}}">{{categoryname}}</option>
                    {% endfor %}
                  </select>
          
                <button class="buttonblue" type="submit" name="submit">Submit</button>

           

              </form>
           
		      </div>
    <div class="container container-bg-white tr-area">
        <h3>Products List</h3>
        <br />

        {% render_table productdetails %}
    </div>
     </div>
		
     <div class="modal fade" id="edit-product" role="dialog">
      <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Edit Product Data</h4>
        </div>
        <div class="modal-body edit-user-p">
       <label>
      <span>PRODUCT CODE:</span> <input type="text" id="product_code" alt="" value="{{product_code}}" disabled>
      </label>
      <label>
      <span>PRODUCT DESC:</span> <input type="text" id="product_desc" alt="" value="{{product_desc}}" disabled>
      </label>
      <label>
      <span>BRAND DESC:</span> <input type="text" id="brand_desc" alt="" value="{{brand_desc}}" disabled>
      </label>
      <label>
      <span>ACTIVE FLAG:</span> <input type="text" id="active_flag" alt="" value={{active_flag}}>
      </label>
      <label>
      <span>CUSTOM FIELD1:</span> <input type="text" id="custom_field1" alt="" value="{{custom_field1}}">
      </label>
      <label>
      <span>CUSTOM FIELD2:</span> <input type="text" id="custom_field2" alt="" value={{custom_field2}}>
      </label> 
      <label>
      <span>CUSTOM FIELD3:</span> <input type="text" id="custom_field3" alt="" value={{custom_field3}}>
      </label> 
      <label>
      <span>CUSTOM FIELD4:</span> <input type="text" id="custom_field4" alt="" value={{custom_field4}}>
      </label> 
      <label>
      <span>CUSTOM FIELD5:</span> <input type="text" id="custom_field4" alt="" value={{custom_field5}}>
      </label>      
      </div>

        <div class="modal-footer">      
          <button type="button" class="btn btn-default" data-dismiss="modal" onclick="editdetails()"> Save </button>
          <button type="button" class="btn btn-default" data-dismiss="modal" onclick="dismiss()">Close</button>
        </div>
     </div>
    </div>
  </div>
  
 <script>
 

  function editdetails() {
  var product_code        =$('#product_code').val();
  var product_desc        =$('#product_desc').val();
  var brand_desc          =$('#brand_desc').val();
  var active_flag         =$('#active_flag').val();
  var custom_field1       =$('#custom_field1').val();
  var custom_field2       =$('#custom_field2').val();
  if(active_flag==""){
    active_flag="None"
  }
  if(custom_field1==""){
    custom_field1="None"
  }
  if(custom_field2==""){
    custom_field2="None"
  }
  if(custom_field3==""){
    custom_field3="None"
  }
  if(custom_field4==""){
    custom_field4="None"
  }
  if(custom_field5==""){
    custom_field5="None"
  }

     window.location.href = "/update-details/"+product_code+"/"+active_flag+"/"+custom_field1+"/"+custom_field2+"/"+custom_field3+"/"+custom_field4+"/"+custom_field5 ; 
     //+"/"+active_flag+"/"+custom_field1+"/"+custom_field2   
   }

   function dismiss(){
        //$('#edit-product').modal('toggle');
        $("#edit-product .close").click()
       // window.location.href = "/search-products/" ; 
   }

</script> 

<script type="text/javascript">
$(document).ready(function(){
  $("#edit-product").modal('show');
 
});
</script>


         
       
    </body>

{%  endblock content %}