<!DOCTYPE html>
<html>

<head>
    <title>Basic Embed</title>
    <script type="text/javascript" src="https://unpkg.com/amazon-quicksight-embedding-sdk@1.0.1/dist/quicksight-embedding-js-sdk.min.js"></script>
    <script type="text/javascript">
        function embedDashboard() {
            var containerDiv = document.getElementById("dashboardContainer");
            var params = {
                url: '{{embed_url |safe}}' ,
              container: containerDiv,
                parameters: {
                    country: 'United States'
                },
                height: "2000px",
                width: "1500px"
            };
            var dashboard = QuickSightEmbedding.embedDashboard(params);
            dashboard.on('error', function() {});
            dashboard.on('load', function() {});
            dashboard.setParameters({country: 'Canada'});
        }
    </script>

</head>

<body onload="embedDashboard()">
    <div id="dashboardContainer"></div>
</body>

</html>
